* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #111827;
  color: white;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-wrap: wrap;
}

#root {
  background: gray;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.block {
  padding: 10px;
  margin: 10px;
  border-radius: calc(0.5rem + 4px);
  border: 1px solid #3741514d;
  background-color: #1f2937;
  min-width: 500px;
  max-width: max-content;
}

@media screen and (max-width: 800px) {
  .block {
    max-width: 100%;
    width: 100%;
  }
}
p {
  margin: 5px;
}

/* /////////// */
.ring {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

svg {
  transform: rotate(-90deg);
}

circle {
  fill: none;
  stroke-width: 15;
}

.background {
  stroke: #ddd;
}

.progress {
  stroke: rgb(48, 179, 255);
  transition: stroke-dasharray 0.5s ease;
}

.label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  text-align: center;
}

#network {
  /* min-width: 500px; */
  /* max-width: 800px; */
  /* width: max-content; */
}
#network b {
  color: rgb(48, 179, 255);
}

#os {
  display: flex;
  flex-direction: column;
  /* max-width: max-content; */
  /* min-width: 400px; */
}

#cpu {
  /* max-width: max-content; */
  /* min-width: 500px; */
}

#disk {
  /* width: max-content; */
}
#disk b {
  color: rgb(48, 179, 255);
}
#disk table {
  border-radius: 10px;
  background: linear-gradient(180deg, #1f2937 2.51%, #2499ef47 100%);
  padding: 10px;
}

#disk table td {
  padding: 5px 10px;
}

#ram {
  max-width: max-content;
  /* min-width: 500px; */
}
#ram div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* max-width: 500px; */
}
